body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */

.header {
  background: var(--WHITE, #fff);
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio-part-headder {
  color: var(--IRIS, #2e2f42);
}

.nav-links {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.header-adress {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-adress:hover,
.header-adress:focus {
  color: #404bbf;
}
/* Section #1 */
/* Top main part */
.top-part-main {
  background: var(--NAVY-BLUE, #2e2f42);
}

.main-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button {
  color: var(--WHITE, #fff);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* Section #2 */
/* Our Strenghts */
.our-strengths-headers {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-strengths-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Section #3 */
/* Our Team */
.our-team {
  background-color: #f4f4fd;
}

.our-team-main-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list {
  background-color: #ffffff;
}

.our-team-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Section #4 */
/* Our Portfolio */
.our-portfolio-main-hedder {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-portfolio-headder {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer-descr {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo-studio-part-footer {
  color: #f4f4fd;
}
